@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}
body button {
  font-family: inherit;
}
body a {
  text-decoration: none;
}
body a:link {
  color: #FFFFFF;
}
body a:visited {
  color: #FFFFFF;
}
body a:hover {
  color: #FF5300;
}
body a:active {
  color: #FF5300;
}
body ul {
  list-style-type: none;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  position: absolute;
  background-color: #373737;
  overflow: hidden;
  font-size: 20px;
  z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

.burger {
  display: none;
}

.menu__logo {
  min-width: 162px;
  height: 48px;
  margin-right: 10px;
  position: relative;
  background: url("../../assets/header/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__nav {
  display: flex;
  width: 100%;
  max-width: 932px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  width: 100%;
  max-width: 692px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  flex: 0 0 auto;
}

.menu__button {
  margin-left: 10px;
}
.menu__button svg {
  cursor: pointer;
}
.menu__button svg:hover path {
  fill: #FF5300;
}

@media (max-width: 786px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
  }

  .menu {
    font-size: 16px;
    height: 80px;
  }

  .menu__logo {
    min-width: 83px;
    height: 25px;
    position: relative;
  }

  .menu__nav {
    max-width: 579px;
  }

  .menu__list {
    max-width: 526px;
  }

  .menu__button {
    padding-top: 4px;
  }
}
@media (max-width: 542px) {
  .menu__logo {
    min-width: 60px;
  }

  .menu {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 345px;
    margin: 0 auto;
  }

  .menu {
    height: 50px;
  }

  .menu__logo {
    min-width: 102px;
    height: 31px;
    position: relative;
  }

  .menu__button {
    margin: 0;
  }

  .menu__nav {
    max-width: 183px;
  }

  .menu__list {
    display: none;
  }

  .burger {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 100%;
    background: #FFFFFF;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

body {
  position: relative;
}
body .main__icons {
  margin-top: 35vh;
  min-height: 175px;
  width: 40px;
  position: fixed;
  right: 0px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .main__icons .main__icon {
  background: #3A3B3C;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main__icons .main__icon:hover {
  background: #FF5300;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}

.main {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;
  height: 835px;
  background: #242526;
  color: #FFFFFF;
  position: relative;
}
.main h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.main__accent {
  color: #FF5300;
}
.main__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 25px 0 50px 0;
}
.main__button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.main__button:hover {
  background: #3A3B3C;
}
.main__image {
  width: 100%;
  max-width: 639px;
  max-height: 429px;
  left: 750px;
  top: 353px;
}
.main__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-wrapper {
  padding-top: 253px;
  display: flex;
  justify-content: space-between;
}

.main__info {
  padding-top: 23px;
  width: 100%;
  max-width: 493px;
}

@media (max-width: 786px) {
  .main {
    height: 542px;
  }
  .main-wrapper {
    padding-top: 50px;
  }
  .main h1 {
    font-size: 39.0625px;
    font-weight: 600;
    line-height: 48px;
  }
  .main__subtitle {
    max-width: 332px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 18px 0 25px 0;
  }
  .main__image {
    max-width: 307px;
    max-height: 207px;
    left: 750px;
    top: 353px;
    align-self: center;
  }

  .main-wrapper {
    padding-top: 153px;
  }

  .main__icons {
    top: 139px !important;
  }
}
@media (max-width: 645px) {
  .main-wrapper {
    padding-top: 145px;
  }

  .main h1 {
    font-size: 28.0625px;
    font-weight: 500;
    line-height: 30px;
  }
}
@media (max-width: 376px) {
  .main__icons {
    display: none !important;
  }

  .main-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .main {
    height: 733px;
  }
  .main h1 {
    font-size: 31.25px;
    font-weight: 600;
    line-height: 39px;
  }
  .main__subtitle {
    max-width: 323px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 18px 0 25px 0;
  }
  .main__image {
    max-width: 335px;
    max-height: 225px;
    left: 750px;
    top: 353px;
  }
  .main__info {
    padding-top: 50px;
    align-items: center;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

h2 {
  margin: 25px 0 18px 0;
  font-size: 39.0625px;
  font-weight: 600;
  line-height: 48px;
}

.about {
  overflow-x: hidden;
  height: 935px;
  background: #18191A;
  color: #FFFFFF;
  line-height: 24px;
}
.about__content {
  padding-top: 120px;
  display: flex;
}
.about__button {
  margin-top: 25px;
}
.about__image {
  width: 100%;
  align-self: flex-end;
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.about-info {
  max-width: 569px;
  width: 100%;
}

.about-info__underTtitle__padding {
  padding-top: 18px;
}

.about__button:hover {
  box-shadow: 0px 1px 10px #242526;
  background: #242526;
}

.about-wrapper {
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  grid-gap: 30px;
}

.about__point {
  margin-top: 60px;
  background: #242526;
  max-width: 270px;
  height: 200px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.about__point .circle {
  margin: 25px auto 36px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__point .about__p {
  padding: 0 13px;
}
.about__point .circle1 {
  background: #FF5300;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}
.about__point .circle2 {
  background: #7B7B7B;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}
.about__point .circle3 {
  background: #00ACFF;
  box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
}
.about__point .circle4 {
  background: #242526;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 786px) {
  h2 {
    margin: 25px 0 18px 0;
    font-size: 31.25px;
    font-weight: 600;
    line-height: 39px;
  }

  .about-info {
    max-width: 329px;
  }

  .about {
    height: 912px;
  }
  .about__content {
    padding-top: 120px;
    display: flex;
  }
  .about__button {
    margin-top: 25px;
  }
  .about__image {
    width: 100%;
    align-self: center;
  }
  .about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .about__point {
    margin-top: 84px;
    background: #242526;
    max-width: 154px;
    height: 200px;
    text-align: center;
  }
  .about__point .circle {
    margin: 35px auto 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__point .about__p {
    padding: 0 5px;
  }
}
@media (max-width: 645px) {
  .about__content {
    padding-top: 35px;
  }

  h2 {
    font-size: 23.25px;
    font-weight: 600;
    line-height: 28px;
  }

  .about-wrapper {
    margin-top: 15px;
    display: grid;
    grid-template: repeat(4, 1fr)/1fr;
    grid-gap: 30px;
  }

  .about__point {
    justify-content: flex-end;
    font-size: 12px;
    width: 80%;
    max-width: 420px;
    padding: 20px;
    margin: 0 auto;
    height: 70px;
    max-width: 90%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about__point .circle {
    margin: 0;
    padding: 0;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
  }
  .about__point .about__p {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 376px) {
  h2 {
    margin: 18px 0 18px 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 123.6%;
  }

  .about-info {
    max-width: 323px;
  }
  .about-info__overTitle {
    margin-top: 50px;
  }
  .about-info__underTitle {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 150.6%;
  }

  .about__point {
    display: inline;
    height: 200px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .about__point .circle {
    margin: 25px auto 36px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__point .about__p {
    padding: 0 13px;
    font-size: 16px;
  }

  .about {
    height: 1661px;
  }
  .about__content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about__point {
    margin-top: 0;
    max-width: 100%;
    padding: 0;
  }
  .about__point .circle {
    width: 70px;
    height: 70px;
    margin: 25px auto 37px;
  }
  .about__point .about__p {
    padding: 0 40px;
  }
  .about__button {
    margin-bottom: 50px;
  }

  .about-wrapper {
    grid-template: repeat(4, 1fr)/1fr;
    grid-gap: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.experience {
  padding-left: 15px;
  padding-right: 15px;
  height: 673px;
  background: #242526;
  color: #FFFFFF;
  line-height: 24px;
}
.experience__button {
  margin-top: 50px;
}
.experience__button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
  background: #3A3B3C;
}
.experience__overTitle {
  margin-top: 23px;
}

.experience-content {
  height: 590px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.experience-info {
  max-width: 569px;
  width: 100%;
}

.experience-info__underTtitle__padding {
  padding-top: 18px;
}

.experience-wrapper {
  display: grid;
  width: 100%;
  max-width: 570px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top1 top2" "bottom1 bottom2";
  grid-gap: 30px;
}

.experience-point1 {
  grid-area: top1;
}

.experience-point2 {
  margin-top: 30px;
  grid-area: top2;
}

.experience-point3 {
  grid-area: bottom1;
}

.experience-point4 {
  margin-top: 30px;
  grid-area: bottom2;
}

.experience-point {
  background: #3A3B3C;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.experience-point__over {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 18px;
}

.experience-point__under {
  font-size: 20px;
  font-weight: 500;
  color: #7B7B7B;
}

@media (max-width: 786px) {
  .experience {
    height: 594px;
  }
  .experience__overTitle {
    margin-top: 0;
  }
  .experience__button {
    margin-top: 32px;
  }

  .experience-content {
    padding-top: 50px;
  }

  .experience-info {
    max-width: 331px;
    width: 100%;
  }

  .experience-wrapper {
    display: grid;
    width: 100%;
    max-width: 332px;
    max-height: 358px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top1 top2" "bottom1 bottom2";
    grid-gap: 8px;
  }

  .experience-point1 {
    margin-top: 0;
    grid-area: top1;
  }

  .experience-point2 {
    margin-top: 50px;
    grid-area: top2;
  }

  .experience-point3 {
    margin-top: 0;
    grid-area: bottom1;
  }

  .experience-point4 {
    margin-top: 50px;
    grid-area: bottom2;
  }

  .experience-point__over {
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    padding-bottom: 18px;
  }

  .experience-point__under {
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: #7B7B7B;
  }
}
@media (max-width: 645px) {
  .experience-info {
    max-width: 100%;
    line-height: 22px;
    padding: 0 10px;
    font-size: 14px;
    position: relative;
    justify-content: center;
  }

  .experience-content {
    padding-top: 20px;
  }

  .experience-wrapper {
    display: grid;
    width: 100%;
    max-width: 150px;
    max-height: 50%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "top1" "top2" "bottom1" "bottom2";
    grid-gap: 8px;
  }

  .experience-point {
    margin: 0;
  }
}
@media (max-width: 430px) {
  .experience__button {
    position: absolute;
    top: 372px;
    right: -149px;
  }
}
@media (max-width: 376px) {
  .experience {
    height: 1622px;
  }
  .experience__button {
    margin-bottom: 50px;
  }

  .experience-content {
    flex-direction: column;
    text-align: center;
    justify-content: initial;
  }

  .experience-info {
    font-size: 16px;
  }

  .experience-wrapper {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: "top1" "top2" "bottom1" "bottom2";
    grid-gap: 25px;
  }

  .experience-point {
    margin-top: 0;
  }

  .experience-point__over {
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    padding-bottom: 18px;
  }

  .experience-point__under {
    font-weight: 500;
    font-size: 25px;
    line-height: 150.6%;
    color: #7B7B7B;
  }

  .experience__button {
    position: static;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.members {
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
  background: #18191A;
}

.members-header {
  max-width: 463px;
  margin: 0 auto;
  text-align: center;
}
.members-header__overtitle {
  padding-top: 120px;
}
.members-header__title {
  margin-bottom: 60px;
}

.members-cards {
  width: 100%;
  max-height: 350px;
  display: grid;
  grid-template-columns: repeat(4, minmax(213px, 270px));
  grid-column-gap: 30px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.members-card {
  position: relative;
  background: #242526;
}
.members-card__image {
  max-width: 270px;
  max-height: 250px;
}
.members-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.members-card__socials {
  position: absolute;
  top: 9%;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40px;
}
.members-card__social {
  width: 100%;
  max-width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 5px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members-card__social svg {
  fill: #FF5300;
}
.members-card__social:hover {
  background: #FF5300;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}
.members-card__social:hover svg {
  fill: #FFFFFF;
}
.members-card__title {
  font-size: 20px;
  line-height: 123.6%;
  margin: 24px 0 12px 0;
}
.members-card__undertitle {
  color: #7B7B7B;
  margin-bottom: 14px;
}

@media (max-width: 982px) {
  .members-card_hide {
    display: none;
  }

  .members-cards {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    overflow: auto;
    grid-template-columns: repeat(3, minmax(213px, 270px));
  }
}
@media (max-width: 786px) {
  .members-card_hide {
    display: block;
  }

  .members-cards {
    overflow-x: scroll;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(4, minmax(213px, 213px));
  }

  .members-card__socials {
    top: 3%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.our-work {
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
  background: #18191A;
}
.our-work__overtitle {
  padding-top: 120px;
}
.our-work__title {
  margin-bottom: 25px;
}
.our-work__list {
  font-size: 20px;
  display: flex;
  max-width: 610px;
  justify-content: space-between;
  margin: 0 auto 60px;
}

.our-work-header {
  max-width: 675px;
  margin: 0 auto;
  text-align: center;
}

.members-cards {
  width: 100%;
  max-height: 350px;
  display: grid;
  grid-template-columns: repeat(4, minmax(213px, 270px));
  grid-column-gap: 30px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.our-work {
  background-color: #18191A;
}

.our-work__projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-gap: 30px;
  padding-bottom: 120px;
}

.projects-column {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-gap: 30px;
}

.our-work__project {
  overflow: hidden;
}
.our-work__project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.slick-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.slick-list {
  overflow: hidden;
}

.reviews-slider .slick-arrow {
  position: absolute;
}
.reviews-slider .slick-dots {
  display: flex;
  margin: 0 auto;
  width: 90px;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 60px;
}
.reviews-slider .slick-dots button {
  border: none;
}
.reviews-slider .slick-dots .slick-active button {
  background: #FF5300;
}
.reviews-slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
}
.reviews-slider .slick-dots #slick-slide-control00::after {
  display: block;
  content: "";
  width: 50px;
  height: 15px;
  border-radius: 7.5px;
  background: #373737;
  position: absolute;
  left: 20px;
  top: 0;
}

.reviews {
  background: #242526;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

.reviews-header {
  margin: 0 auto;
  text-align: center;
}
.reviews-header__overtitle {
  padding-top: 60px;
}
.reviews-header__title {
  margin-bottom: 60px;
}

.review-item {
  padding-right: 30px;
  max-width: 510px;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 16px;
  line-height: 150.6%;
  font-weight: 400;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0;
  top: 25px;
  z-index: 999;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-info {
  background: #FF5300;
  position: relative;
  left: 40px;
  z-index: 998;
  height: fit-content;
  padding: 35px 35px 25px 65px;
}
.profile-name {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
}
.profile-title {
  margin-top: 7px;
  margin-bottom: 23px;
}

@media (max-width: 786px) {
  .review-item {
    padding-right: 30px;
    max-width: 317px;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 16px;
    line-height: 150.6%;
    font-weight: 400;
  }

  .profile-avatar {
    width: 50px;
    height: 50px;
    left: 0;
    top: 25px;
  }
  .profile-info {
    background: #FF5300;
    position: relative;
    left: 25px;
    z-index: 998;
    height: fit-content;
    padding: 25px 30px 15px 35px;
  }
  .profile-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
  }
  .profile-title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 543px) {
  .profile-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
  }

  .profile-title {
    font-size: 10px;
  }

  .profile-review {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .slick-dots {
    padding-top: 25px !important;
  }

  .review-item {
    min-width: 246px;
    max-width: 246px;
  }

  .profile-info {
    width: 100%;
    padding: 25px 12px 18px 35px;
  }

  .profile-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
  }

  .profile-title {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  .profile-review {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 123.6%;
  }

  .reviews-header {
    margin: 0 auto;
    text-align: center;
  }
  .reviews-header__overtitle {
    padding-top: 50px;
  }
  .reviews-header__title {
    margin-bottom: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 1px 10px #3A3B3C;
}

.blog {
  background: #18191A;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

.blog-header {
  margin: 0 auto;
  text-align: center;
}
.blog-header__overtitle {
  padding-top: 120px;
}
.blog-header__title {
  margin-bottom: 60px;
}

.blog-slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.blog-item {
  position: relative;
  width: 570px;
  height: 294px;
  background: #242526;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-topic {
  font-weight: normal;
  font-size: 16px;
  line-height: 150.6%;
  color: #FF5300;
}
.blog-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  max-width: 330px;
}
.blog-image {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 164px;
  height: 164px;
  border-radius: 50%;
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-author {
  display: flex;
  position: relative;
  right: 0;
  top: 0;
  align-self: baseline;
}
.blog-face {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.blog-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-description {
  display: flex;
  flex-direction: column;
}
.blog-info {
  display: flex;
}