//fonts 
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
$poppins: 'Poppins', sans-serif; 

$regularSize: 16px; 
$navSize: 20px; 
$headingMain: 48px; 
$heading: 39.0625px;
$mobileTitle: 31.25px;
$mobileHeading: 25px;

//resolutions 
$tablet: 786px;
$mobile:376px; 
$containerDesktop: 1179px; 
$containerTablet: 690px; 
$containerMobile: 345px; 


