@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0px 1px 10px #FF5300;
          box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  -webkit-box-shadow: 0px 1px 10px #3A3B3C;
          box-shadow: 0px 1px 10px #3A3B3C;
}

.blog {
  background: #242526;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

.reviews-header {
  margin: 0 auto;
  text-align: center;
}
.reviews-header__overtitle {
  padding-top: 60px;
}
.reviews-header__title {
  margin-bottom: 60px;
}

.review-item {
  padding-right: 30px;
  max-width: 510px;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 16px;
  line-height: 150.6%;
  font-weight: 400;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0;
  top: 25px;
  z-index: 999;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-info {
  background: #FF5300;
  position: relative;
  left: 40px;
  z-index: 998;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 35px 35px 25px 65px;
}
.profile-name {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
}
.profile-title {
  margin-top: 7px;
  margin-bottom: 23px;
}